language: python
python:
    - "3.8"
install:
    - pip install coverage
script:
    - cd Code
    - coverage run -m pytest bases_test.py
    - coverage run -m pytest palindromes_test.py
    - coverage run -m pytest search_test.py
    - coverage run -m pytest recursion_test.py
    - coverage run -m pytest strings_test.py
    - coverage run -m pytest linkedlist_test.py
    - coverage run -m pytest stack_test.py
    - coverage run -m pytest queue_test.py
after_success:
    - bash <(curl -s https://codecov.io/bash)
